In [52]:
# basic imports

import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import torch


# load data

cowCodes = pd.read_csv('data/COW-country-codes.csv')
sct_data = pd.read_csv('data/sct_df_edited.csv')
cirights = pd.read_excel('data/cirights_v3.12.10.24.xlsx')

C:\Users\Ben\AppData\Local\Temp\ipykernel_40892\1351700791.py:12: DtypeWarning: Columns (123,124,127,136,188,196,474,480,481,726) have mixed types. Specify dtype option on import or set low_memory=False.
  sct_data = pd.read_csv('data/sct_df_edited.csv')

In [53]:
cirights['ciri'].describe()

count    7931.000000
mean      394.245366
std       170.771890
min       101.000000
25%       248.000000
50%       395.000000
75%       539.000000
max       700.000000
Name: ciri, dtype: float64

In [54]:
cirights.rename(columns={'cow':'ccode'}, inplace=True)
cirights = cirights[['ccode', 'year', 'ciri']]

In [55]:
df = pd.merge(sct_data, cirights, on=['ccode', 'year'], how='left', suffixes=('_sct', '_cirights'))

df = df.dropna(subset=['ciri'])

df

,ccode,year,gwf_country,gwf_prevdem,gwf_priordem,gwf_autocracy,gwf_military,gwf_monarchy,gwf_party,gwf_personal,...,ties_newImpos_n6,ties_newImpos_nmin1,ties_newImpos_nplus1,ties_newImpos_nplus2,ties_newImpos_nplus3,ties_consecutiveImpos,ties_consecutiveImposCT,ties_timeSinceImpos,ties_totalSanct,ciri
36,2,1981,United States,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,1,1,0,1,2,0,11,662.0
37,2,1982,United States,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,1,1,1,1,3,0,12,662.0
38,2,1983,United States,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,1,1,1,1,4,0,13,662.0
39,2,1984,United States,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,1,1,1,0,0,1,13,662.0
40,2,1985,United States,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,0,1,1,0,0,0,14,662.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9540,920,2016,New Zealand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,17,5,479.0
9541,920,2017,New Zealand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,18,5,479.0
9542,920,2018,New Zealand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,19,5,479.0
9543,920,2019,New Zealand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,20,5,479.0
9544,920,2020,New Zealand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,21,5,479.0

In [56]:
# Filter sct_data to 'inflation', 'gdpgrowth', 'log_itpop', 'region', 'imilex', 'coup', 'coup_lag', 'bankingcrisis', 'systemiccrisis', 'goldstandard', 'domestic_debt_in_default', 'independence', 'gwf_autocracy', 'gwf_military', 'gwf_monarchy', 'gwf_party', 'gwf_personal', 'gwf_democracy'

df = df[['year', 'gwf_country', 'ccode', 'region', 'ben_impos', 'ben_threat',  'ongoing_sanction',  'inflation', 'gdpgrowth', 
                     'log_itpop', 'region', 'imilex', 'coup', 'coup_lag', 'bankingcrisis', 
                     'systemiccrisis', 'goldstandard', 'domestic_debt_in_default', 'independence', 
                     'gwf_autocracy', 'gwf_military', 'gwf_monarchy', 'gwf_party', 'gwf_personal', 'gwf_democracy', 'ciri']]

In [57]:
df

,year,gwf_country,ccode,region,ben_impos,ben_threat,ongoing_sanction,inflation,gdpgrowth,log_itpop,...,goldstandard,domestic_debt_in_default,independence,gwf_autocracy,gwf_military,gwf_monarchy,gwf_party,gwf_personal,gwf_democracy,ciri
36,1981,United States,2,Americas,1,1,1,10.378,1.495965,12.352922,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,662.0
37,1982,United States,2,Americas,1,1,0,6.158,-2.811419,12.362315,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,662.0
38,1983,United States,2,Americas,1,1,1,3.160,3.245353,12.371715,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,662.0
39,1984,United States,2,Americas,0,0,1,4.368,6.356311,12.381105,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,662.0
40,1985,United States,2,Americas,1,1,1,3.528,2.955481,12.390475,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,662.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9540,2016,New Zealand,920,Oceania,0,0,0,1.504,1.779040,8.446556,...,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,479.0
9541,2017,New Zealand,920,Oceania,0,0,0,NaN,1.674501,8.455743,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,479.0
9542,2018,New Zealand,920,Oceania,0,0,0,NaN,0.323606,8.464425,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,479.0
9543,2019,New Zealand,920,Oceania,0,0,0,NaN,-0.659524,8.472823,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,479.0
9544,2020,New Zealand,920,Oceania,0,0,0,NaN,NaN,8.480944,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,479.0

In [58]:
df.to_csv('data/df.csv', index=False)